In [26]:
'''
Downloading data from YFinance API to store in a CSV file that is used by the web app.

This file will want updating regularly to add the latest stock data
'''
#importing packages
import pandas as pd
import typing
import datetime as dt
import yfinance as yf
import numpy as np

# creating data class
class Data():
    
    #tickers = ["ARVL", "DM", "SPY", "FSLR", "AUR", "MSFT", "AAPL", "JPM", "TSLA", "GOOG", "AI", "PATH", "NVDA", "AMZN", "DIS", "NFLX", "BAC", "ACN", "CSCO", "SHOP", "QS"]
    last_updated_date = "2020-01-01"
    
    def __init__(self, tickers, last_updated_date):
        self.tickers = tickers
        self.last_updated_date = last_updated_date
    
    def add_ticker(self, ticker: str) -> list:
        assert type(ticker) is str, print("Ticker type needs to be a string.")
        assert ticker not in self.tickers, print("{ticker} is already in the tickers list") 
        self.tickers.append(ticker)
        return self.tickers
        
    def remove_ticker(self, ticker: str) -> list:
        assert type(ticker) is str, print("Ticker type needs to be a string.")
        assert ticker in self.tickers, print("{ticker} is not in the tickers list so no need to remove.") 
        self.tickers.pop(ticker)
        return self.tickers
    
    def download_yfinance_data(self, start_date: str) -> pd.DataFrame:
        if self.last_updated_date > start_date:
            start_date = self.last_updated_date
        
        end_date = dt.today()
        
        
        try:
            ticker_string = ""
            for ticker in Data.tickers:
                ticker_string += ticker + " "
            
            #downloading data from yahoo_finance yf
            yf_dataframe = yf.download(ticker_string.rstrip(), group_by='ticker', start=start_date, end=end_date)
            
            #return the dataframe
            return yf_dataframe
        except:
            print(error)
        
        self.last_updated_date = dt.today()
        
        return self.tickers, self.last_updated_date
            
    def create_dataframe(self):
        
        

'''
Script

- use .cfg file to store ticker list and last updated time
- 
'''

In [65]:
#importing packages
import pandas as pd
import typing
import datetime as dt
import yfinance as yf
import numpy as np

#tickers
tickers = ["ARVL", "DM", "SPY", "FSLR", "AUR", "MSFT", "AAPL", "JPM", "TSLA", "GOOG", "AI", "PATH", "NVDA", "AMZN", "DIS", "NFLX", "BAC", "ACN", "CSCO", "SHOP", "SQ"]

#declaring date variables
end_date = dt.date.today()
#end_date = '2022-11-01'
start_date = '2020-01-01'

def multi_ticker_download(tickers:list, start_date:str, end_date:str) -> pd.DataFrame:
    
    #ticker string creation to pass as an argument into yfinance download method
    ticker_string = ""
    #adding each ticker to empty string
    for ticker in tickers:
        ticker_string += ticker + " "
    
    ticker_string.rstrip()
    
    #downloading data from yahoo_finance yf
    yf_dataframe = yf.download(ticker_string.rstrip(), group_by='ticker', start=start_date, end=end_date)
    # unstacking multi level index and adding Ticker as a column, then resetting the index to just 'Date', saving as csv
    return yf_dataframe.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1).to_csv(f'master_data_{end_date.isoformat()}.csv')
    

yf_dataframe = multi_ticker_download(tickers, start_date, end_date)

[*********************100%***********************]  21 of 21 completed

KeyError: 'Close'

In [66]:
"SQ"

stock_data = Data()

yf_dataframe

             PATH                                               AUR         \
             Open    High     Low  Close Adj Close     Volume  Open   High
Date
2020-01-02    NaN     NaN     NaN    NaN       NaN        NaN   NaN    NaN
2020-01-03    NaN     NaN     NaN    NaN       NaN        NaN   NaN    NaN
2020-01-06    NaN     NaN     NaN    NaN       NaN        NaN   NaN    NaN
2020-01-07    NaN     NaN     NaN    NaN       NaN        NaN   NaN    NaN
2020-01-08    NaN     NaN     NaN    NaN       NaN        NaN   NaN    NaN
...           ...     ...     ...    ...       ...        ...   ...    ...
2022-10-27  12.17  12.545  12.090  12.42     12.42  4763100.0  2.23  2.250
2022-10-28  12.14  12.890  12.090  12.86     12.86  5781300.0  2.06  2.110
2022-10-31  12.71  13.000  12.520  12.65     12.65  4296700.0  2.10  2.100
2022-11-01  13.07  13.170  12.205  12.33     12.33  4704400.0  2.09  2.120
2022-11-02  12.29  12.300  11.130  11.16     11.16  7481800.0  2.06  2.075

                        ...         JPM                                    \
             Low Close  ...         Low       Close   Adj Close    Volume
Date                    ...
2020-01-02   NaN   NaN  ...  139.259995  141.089996  128.747040  10803700
2020-01-03   NaN   NaN  ...  137.080002  138.339996  127.048050  10386800
2020-01-06   NaN   NaN  ...  136.500000  138.229996  126.947044  10259000
2020-01-07   NaN   NaN  ...  135.820007  135.880005  124.788864  10531300
2020-01-08   NaN   NaN  ...  135.600006  136.940002  125.762321   9695300
...          ...   ...  ...         ...         ...         ...       ...
2022-10-27  2.06  2.07  ...  124.209999  124.599998  124.599998  10727600
2022-10-28  2.00  2.09  ...  124.050003  126.080002  126.080002  11859500
2022-10-31  2.02  2.06  ...  125.589996  125.879997  125.879997  13295200
2022-11-01  2.03  2.08  ...  126.330002  128.149994  128.149994  13386900
2022-11-02  1.87  1.88  ...  126.639999  126.970001  126.970001  16546100

                   SPY                                                  \
                  Open        High         Low       Close   Adj Close
Date
2020-01-02  323.540009  324.890015  322.529999  324.869995  311.117035
2020-01-03  321.160004  323.640015  321.100006  322.410004  308.761230
2020-01-06  320.489990  323.730011  320.359985  323.640015  309.939117
2020-01-07  323.019989  323.540009  322.239990  322.730011  309.067627
2020-01-08  322.940002  325.779999  322.670013  324.450012  310.714783
...                ...         ...         ...         ...         ...
2022-10-27  383.070007  385.000000  379.329987  379.980011  379.980011
2022-10-28  379.869995  389.519989  379.679993  389.019989  389.019989
2022-10-31  386.440002  388.399994  385.260010  386.209991  386.209991
2022-11-01  390.140015  390.390015  383.290009  384.519989  384.519989
2022-11-02  383.899994  388.630005  374.760010  374.869995  374.869995


               Volume
Date
2020-01-02   59151200
2020-01-03   77709700
2020-01-06   55653900
2020-01-07   40496400
2020-01-08   68296000
...               ...
2022-10-27   81971800
2022-10-28  100302000
2022-10-31   96631300
2022-11-01   85407600
2022-11-02  126990400

[716 rows x 126 columns]

In [28]:
#stock_data.add_ticker("SQ")

stock_data.tickers

['ARVL', '1234']

In [29]:
end_date = '2022-11-01'
start_date = '2020-01-01'

stock_data.download_yfinance_data(start_date, end_date)

[*********************100%***********************]  2 of 2 completed

1 Failed download:
- 1234: No data found, symbol may be delisted

           1234                                   ARVL                       \
           Open High Low Close Adj Close Volume   Open   High    Low  Close
Date
2020-02-03  NaN  NaN NaN   NaN       NaN    NaN  9.950  9.950  9.950  9.950
2020-02-04  NaN  NaN NaN   NaN       NaN    NaN  9.940  9.940  9.930  9.940
2020-02-05  NaN  NaN NaN   NaN       NaN    NaN  9.940  9.940  9.940  9.940
2020-02-06  NaN  NaN NaN   NaN       NaN    NaN  9.940  9.950  9.940  9.940
2020-02-07  NaN  NaN NaN   NaN       NaN    NaN  9.940  9.940  9.920  9.920
...         ...  ...  ..   ...       ...    ...    ...    ...    ...    ...
2022-10-25  NaN  NaN NaN   NaN       NaN    NaN  0.661  0.838  0.661  0.817
2022-10-26  NaN  NaN NaN   NaN       NaN    NaN  0.790  0.841  0.760  0.768
2022-10-27  NaN  NaN NaN   NaN       NaN    NaN  0.770  0.780  0.740  0.753
2022-10-28  NaN  NaN NaN   NaN       NaN    NaN  0.729  0.767  0.712  0.760
2022-10-31  NaN  NaN NaN   NaN       NaN    NaN  0.764  0.810  0.750  0.774


           Adj Close    Volume
Date
2020-02-03     9.950    110000
2020-02-04     9.940    161000
2020-02-05     9.940     39100
2020-02-06     9.940    165400
2020-02-07     9.920    100500
...              ...       ...
2022-10-25     0.817  10687600
2022-10-26     0.768   7309900
2022-10-27     0.753   2984100
2022-10-28     0.760   6436400
2022-10-31     0.774   6279700

[693 rows x 12 columns]

In [72]:
'''
testing
'''
#importing packages
import pandas as pd
import typing
import datetime as dt
import yfinance as yf
import numpy as np

tickers = ["ARVL", "DM", "SPY", "FSLR", "AUR", "MSFT", "AAPL", "JPM", "TSLA", "GOOG", "AI", "PATH", "NVDA", "AMZN", "DIS", "NFLX", "BAC", "ACN", "CSCO", "SHOP", "SQ"]
end_date = dt.date.today()
start_date = '2020-01-01'

def download_data(tickers: List[str], start_date: str, end_date: str) -> pd.DataFrame:
    all_data = pd.DataFrame()

    for ticker in tickers:
        try:
            ticker_data = yf.download(ticker, start=start_date,end=end_date)
            ticker_data['Ticker'] = ticker
            ticker_data['Daily Returns %'] = (ticker_data['Close'] - ticker_data['Open'])*100 / ticker_data['Open']
            
            all_data = pd.concat([all_data, ticker_data])

        except:
            print("Check start date and end date parameters and maybe yfinance documentation.")
            
    all_data.to_csv(f'master_data_{end_date.isoformat()}.csv')
    return all_data
    
stock_data = download_data(tickers, start_date, end_date)
stock_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Ticker,Daily Returns %
Date,,,,,,,,
2020-02-03,9.950000,9.950000,9.950000,9.950000,9.950000,110000,ARVL,0.000000
2020-02-04,9.940000,9.940000,9.930000,9.940000,9.940000,161000,ARVL,0.000000
2020-02-05,9.940000,9.940000,9.940000,9.940000,9.940000,39100,ARVL,0.000000
2020-02-06,9.940000,9.950000,9.940000,9.940000,9.940000,165400,ARVL,0.000000
2020-02-07,9.940000,9.940000,9.920000,9.920000,9.920000,100500,ARVL,-0.201202
...,...,...,...,...,...,...,...,...
2022-10-27,60.230000,61.930000,59.520000,60.259998,60.259998,9601800,SQ,0.049807
2022-10-28,59.610001,61.325001,58.770000,61.290001,61.290001,10612200,SQ,2.818320
2022-10-31,61.250000,61.939999,59.869999,60.070000,60.070000,10545300,SQ,-1.926531
2022-11-01,62.279999,62.830002,58.625000,59.000000,59.000000,12013900,SQ,-5.266536
2022-11-02,58.639999,59.560001,54.509998,54.639999,54.639999,15357900,SQ,-6.821282

In [54]:
ticker_data = yf.download("ARVL", start=start_date,end=end_date)
ticker_data['Ticker'] = 'ARVL'
ticker_data

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume Ticker
Date
2020-02-03  9.950  9.950  9.950  9.950      9.950    110000   ARVL
2020-02-04  9.940  9.940  9.930  9.940      9.940    161000   ARVL
2020-02-05  9.940  9.940  9.940  9.940      9.940     39100   ARVL
2020-02-06  9.940  9.950  9.940  9.940      9.940    165400   ARVL
2020-02-07  9.940  9.940  9.920  9.920      9.920    100500   ARVL
...           ...    ...    ...    ...        ...       ...    ...
2022-10-25  0.661  0.838  0.661  0.817      0.817  10687600   ARVL
2022-10-26  0.790  0.841  0.760  0.768      0.768   7309900   ARVL
2022-10-27  0.770  0.780  0.740  0.753      0.753   2984100   ARVL
2022-10-28  0.729  0.767  0.712  0.760      0.760   6436400   ARVL
2022-10-31  0.764  0.810  0.750  0.774      0.774   6279700   ARVL

[693 rows x 7 columns]

In [ ]:
empty_dataframe = pd.DataFrame

updated_df = p